@function margin($top:auto,$right:auto,$bottom:auto,$left:auto){
  @return $top $right $bottom $left;
}

@function pxToRem($arg){
  @return $ard / 16;
}

$alabaster: #FAFAFA;
$gray: #8D8D8D;
$cadetBlue: #A6ADC4;
$doveGray: #707070;
$whiteLilac: #F5F7FB;
$chateauGreen: #45B161;

@import "./Jost-400-Book.ttf";
@import "./Jost-500-Medium.ttf";
@import "~material-design-icons/iconfont/material-icons.css";
@import '~vue-context/src/sass/vue-context';



*{
  outline: none;
  box-sizing: border-box;
  margin: 0;padding: 0;
  font-family: 'Jost*','Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
  transition: all .2s ease;

  /* width */
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 100px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(221, 221, 221);
    border-radius: 100px;
    opacity: .1;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(190, 190, 190);
  }

  &::selection{
    background: rgba(#04173D,.08);
  }
}

body{
  background-color: $whiteLilac;
  padding: 2rem;
  height: 100vh;
  overflow: hidden;
}

i{
  transition: none;
}

//32
h1, .h1{
  @extend .text-bold;
  font-size: 2rem;
  font-weight: 0;
}
//24
h2, .h2{
  font-size: 1.5rem;
}
//16
h3, .h3{
  font-size: 1rem;
}
//13
h4, .h4{
  font-size: 0.8rem;
}
//10
h5, .h5{
  font-size: 0.625rem;
}
//8
h6, .h6{
  font-size: 0.5rem;
}

.text-bold, b, h1, h2, h3, h4, h5, h6{
  font-family: 'Jost* medium';
}

.text-dovegray{
  color: $doveGray;
}

.text-cadetblue{
  color: $cadetBlue;
}

.text-white{
  color: #fff;
}

.bg-white{
  background-color: #fff;
}

.bg-chateaugreen{
  background-color: $chateauGreen;
}

.bg-alabaster{
  background-color: $alabaster;
}

.m-auto{
  margin: auto;
}

.rounded{
  border-radius: .5rem;
}

.shadow{
  box-shadow: 0 5px 10px rgba(#04173D,.05);
}

.pointer{
  cursor: pointer;

  &::selection{
    background: none;
  }
}

.textform{
  box-shadow: none;
  border: none;

  &::placeholder{
    color: $cadetBlue;
  }
}

.tooltip {
  display: block !important;
  position: relative;
  z-index: 10000;
  font-size: .8rem;

  .tooltip-inner {
    background: #2d3748;
    color: white;
    border-radius: 8px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: #2d3748;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 2rem;
}