@function margin($top:auto,$right:auto,$bottom:auto,$left:auto){
  @return $top $right $bottom $left;
}

@function pxToRem($arg){
  @return $ard / 16;
}

$alabaster: #FAFAFA;
$gray: #8D8D8D;
$cadetBlue: #A6ADC4;
$doveGray: #707070;
$whiteLilac: #F5F7FB;
$chateauGreen: #45B161;

@import "./Jost-400-Book.ttf";
@import "./Jost-500-Medium.ttf";
@import "~material-design-icons/iconfont/material-icons.css";

*{
  outline: none;
  appearance: none;
  box-sizing: border-box;
  margin: 0;padding: 0;
  font-family: 'Jost*','Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-color: $whiteLilac;
  padding: 2rem;
}
//32
h1, .h1{
  @extend .text-bold;
  font-size: 2rem;
  font-weight: 0;
}
//24
h2, .h2{
  font-size: 1.5rem;
}
//16
h3, .h3{
  font-size: 1rem;
}
//13
h4, .h4{
  font-size: 0.8rem;
}
//10
h5, .h5{
  font-size: 0.625rem;
}
//8
h6, .h6{
  font-size: 0.5rem;
}

.text-bold, b, h1, h2, h3, h4, h5, h6{
  font-family: 'Jost* medium';
}

.text-dovegray{
  color: $doveGray;
}

.text-cadetblue{
  color: $cadetBlue;
}

.bg-white{
  background-color: #fff;
}

.m-auto{
  margin: auto;
}

.rounded{
  border-radius: .5rem;
}

.shadow{
  box-shadow: 0 5px 10px rgba(#04173D,.05);
}

.pointer{
  cursor: pointer;
}